<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mp0316.dao.MpMapper">
	<select id="selectCgradeList" resultType="com.mp0316.dto.CgradeDTO">
		select * from cgrade order by cgrade_seq
	</select>
	<select id="selectMcStatusList" resultType="com.mp0316.dto.McStatusDTO">
		select * from mcstatus order by mcstatus_seq
	</select>
</mapper>